.chatroom {
    margin: 30px 15%;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: #888888;
    min-height: 600px;
}

.msgBox {
    margin: 10px 15;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #993399;
    padding: auto auto;
    min-height: 30px;
}
